.Home{
   width: 100%;
   min-height: 100vh;
}
.Body{
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--background);
   transition: all 0.3s ease;
}