.matchArea-container {
  width: 100%;
  min-height: 100vh;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: none;
}

.matchArea-hgroup {
   padding: 0 15% 0 ;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom: 25px;
   background-color: none;
}

.baseNavLink {
   margin-right: 8px;          
   margin-top: 8px;            
   padding: 4px 4px;  
   min-height: 64px;        
   min-width: 64px;         
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color: var(--text);
   font-weight: 500;
   font-size: var(--base-size);
   border-width: 2px;
   border-style: solid;
   border-color: var(--navlink-border-color);
   border-radius: 8px;
   box-shadow: 0 2px 0px 0px var(--navlink-border-color);
   transition: all 0.3s ease;
}

.baseNavLink:hover {
  background-color: var(--navlink-hover-color);
}
.baseNavLink-active {
  background-color: var(--navlink-hover-color);
  box-shadow: 0 0px 0px 0px var(--navlink-border-color);
   transform: translateY(2px);
}
.avatar-img {
  margin-right: 8px;       
  width: 56px;              
  height: 56px;             
  border-radius: 50%;
  background-color: var(--navlink-img-bg);
}

@media (max-width: 1024px){
   .matchArea-hgroup{
      padding: 0 2% 0 ;
      margin-bottom: 20px;
   }
   .baseNavLink{
      min-height: 54px;        
      min-width: 54px;
      font-size:var(--base-size);        
   }
   .avatar-img {     
      width: 40px;              
      height: 40px;             
   }
}

@media (max-width: 768px){
   .matchArea-hgroup{
      padding: 0 1% 0 ;
      margin-bottom: 10px;
   }
   .baseNavLink{
      min-height: 48px;        
      min-width: 48px;
      font-size:var(--base-size);        
   }
   .avatar-img {     
      width: 37px;              
      height: 37px;             
   }
}
@media (max-width: 430px){
   .matchArea-hgroup{
      padding: 0 1px 0 ;
      margin-bottom: 10px;
   }
   .baseNavLink{
      min-height: 32px;        
      min-width: 32px;
      font-size:14px;        
   }
   .avatar-img {     
      width: 33px;              
      height: 33px;             
   }
}