.notice-container{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #00000099;
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
}
.notice-content{
   background: var(--card-bg-color);
   padding: 50px 40px;
   border-radius: 1rem;
   text-align: center;
   max-width: 350px;
   width: 80%;
}
.notice-title{
   margin-bottom: 10px;
}
.notice-link{
   margin-bottom: 10px;
   border-radius: 5px;
   text-decoration:underline dashed var(--text);
   text-underline-offset: 5px;
}
.notice-title{
   font-size: var(--x-lager-size);
}
.notice-button{
   margin-top: 10px;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   background: var(--card-bg-color);
   color:--text;
   border: 2px solid var(--card-border-color);
   text-align: center;
   box-shadow: 0 3px 0 0px var(--card-border-color);
   cursor: pointer;
   transition: all 0.3s ease;
   &:hover,&:active{
      transform: translateY(1px);
      box-shadow: 0 2px 0 0px var(--card-border-color);
   }
}

@media (max-width:429px){
   .notice-content{
      padding: 50px 25px;
      width: 90%;
   }
   .notice-title{
      font-size: 24px;
   }
}